{% extends "layout.html" %}
{% block content %}
<div class="container mt-5">
    <div class="row g-10 justify-content-center">
        <div class="col-md-6 p-2">
            <div class="card shadow-lg"">
                    <div class=" card-body">
                {% for card in cards %}
                <h2 class="card-title">卡{{ forloop.counter }}卡号：{{ card.cardId }}</h2>
                <h4 class="card-text">学号：{{ card.userId.userId }}</h4>
                <h4 class="card-text">余额：￥{{ card.cardBalance }}</h4>
                <h4 class="card-text">状态：{{ card.cardStatus }}</h4>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-md-6 p-2">
        <div class="card shadow-lg"">
            <div class=" card-body">
            <div class="text-center">
                <h1 class="card-title mb-5">充值</h1>
            </div>
            <form id="charge" action="/cardCharge/" method="post">
                {% csrf_token %}
                <div class="input-group input-group-lg mb-4">
                    <span class="input-group-text">卡号</span>
                    <input type="text" class="form-control" id="cardNumber" placeholder="请输入卡号" name="cardId">
                </div>
                <div class="input-group input-group-lg mb-4">
                    <span class="input-group-text">账号</span>
                    <input type="text" class="form-control" id="studentNumber" placeholder="请输入账号" name="userId">
                </div>
                <div class="input-group  input-group-lg mb-4">
                    <span class="input-group-text">￥</span>
                    <input type="text" oninput="value=value.replace(/[^\d]/g,'')" class="form-control" id="balance"
                        placeholder="请输入充值金额" name="chargeMoney">
                </div>
                <div class="d-grid">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#errorModal">充值</button>
                </div>

            </form>
        </div>
    </div>
</div>
<div class="col-md-12 p-2">
    <div class="card shadow-lg">
        <div class="card-body">
            <div class="text-center">
                <h4 class="card-title mb-5">消费记录</h4>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">卡号</th>
                        <th scope="col">类型</th>
                        <th scope="col">金额</th>
                        <th scope="col">时间</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in bills %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ item.cardId.cardId }}</td>
                        <td>{{ item.billType }}</td>
                        <td>{{ item.billAmount }}</td>
                        <td>{{ item.billTime }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
</div>
<!-- Modal -->
<div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="errorModalLabel">提示</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{ message }}
            </div>
            <div class="modal-footer">
                {% if message %}
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">确认</button>
                {% else %}
                <button type="submit" form="charge" class="btn btn-secondary">确认充值</button>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
<script>
    nav_link_a = document.querySelectorAll(".nav-link")
    for (i = 0; i < nav_link_a.length; i++) {
        if (nav_link_a[i].innerText == "账户管理") {
            nav_link_a[i].classList.add("active")
        }
    }
</script>
{% if status == 'success' %}
<script>
    var errorModal = new bootstrap.Modal(document.getElementById('errorModal'));
    errorModal.show();
    var myModal = document.getElementById('errorModal');
    myModal.addEventListener('hidden.bs.modal', function (event) {
        window.location.href = '/account';
    });
</script>
{% elif status == 'error' %}
<script>
    var errorModal = new bootstrap.Modal(document.getElementById('errorModal'));
    errorModal.show();
</script>
{% endif %}
<script>
    var changer = document.getElementById('changer');
</script>
{% endblock %}