{% extends "layout.html" %}
{% block content %}
  <div class="container mt-5">
    <div class="row shadow rounded-3 bg-light">
      <div class="col-md-12">
        <h1>校园卡信息</h1>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">卡号</th>
              <th scope="col">用户ID</th>
              <th scope="col">余额</th>
              <th scope="col">操作</th>
            </tr>
          </thead>
          <tbody>
          {% for item in cards %}
            <tr>
              <th scope="row">{{ forloop.counter }}</th>
              <td>{{ item.cardId }}</td>
              <td>{{ item.userId.userId }}</td>
              <td>{{ item.cardBalance }}</td>
              <td>
                <button type="button" class="btn btn-outline-info">详细</button>
                <button type="button" class="btn btn-outline-info">编辑</button>
              </td>
            </tr>
          </tbody>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
{% endblock %}
{% block javascript %}
<script>
  nav_link_a = document.querySelectorAll(".nav-link")
  for(i=0;i<nav_link_a.length;i++){
    if(nav_link_a[i].innerText == "首页"){
      nav_link_a[i].classList.add("active")
    }
  }
</script>
{% endblock %}